
<h1>
    CAROUSEL-SLIDE
</h1>

<h1>Albums and Artists</h1>

<!-- 
    <owl-carousel-o [options]="customOptions">
        
        <ng-template carouselSlide>
            <a href="">
            <img src="../../assets/dashboard-img/proj.jpg">
            </a>
        </ng-template> 

        <ng-template carouselSlide>
            <img src="../../assets/dashboard-img/proj1.jpg">
        </ng-template>  

        <ng-template carouselSlide>
            <img src="../../assets/dashboard-img/proj2.jpg">
        </ng-template>  
        
        <ng-template carouselSlide>
            <img src="../../assets/dashboard-img/proj3.jpg">
        </ng-template>  
        
        <ng-template carouselSlide>
            <img src="../../assets/dashboard-img/proj4.jpg">
        </ng-template>  
      </owl-carousel-o>


  -->