<!-- <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  
    
    <div class="container-fluid bar">
        <div class= "row">
            <div class="col-12 ">
                    <input class="mt-3 col-12" type="range"
                     min="0"
                     [max]="duration"
                     step="0.01"
                     #seek (input)="setSeek(seek.value)"
                     [value]="currentTime"
                    >
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-2 col-lg-2 col-md-2 text-center">
                <div class="btn-group">
                    <button class="btn btn-default btn-circle" (click)="previous()" [disabled]="isStart()">
                        <mdb-icon fas icon="step-backward"></mdb-icon>
                    </button>
                    <button class="btn btn-default btn-circle" (click)="play()" *ngIf="!isPlay" title="Play">
                        <mdb-icon fas icon="play-circle"></mdb-icon>
                    </button>
                    <button class="btn btn-default btn-circle" (click)="pause()" *ngIf="isPlay" title="Pause">
                        <mdb-icon far icon="pause-circle"></mdb-icon>
                    </button>
                    <button class="btn btn-default btn-circle" (click)="next()" [disabled]="isEnd()">
                        <mdb-icon fas icon="step-forward"></mdb-icon>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 ">
                <div class="details ml-2">
                    <div class="description ml-2">
                        <div class="text-scroll">
                            <div>
                                {{mydata.label || 'No Song'}} | {{mydata.author || 'No Author'}}
                            </div>
                        </div>
                    </div>
                    <div class="time">
                        <div>{{readCurrentTime}}/{{readDuration}}</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                <div class="controls mt-2 mb-2">
                    <button class=" btn btn-default btn-circle fav " (click)="isClicked = !isClicked" [class.myClass]="isClicked" type="submit">
                        <mdb-icon fas icon="heart"></mdb-icon>
                    </button>
                   
                    <label class="text-white">
                        <input type="checkbox" > Recommend
                      </label>
                    
                    <button class="btn btn-default btn-circle" (click)="mute()" *ngIf="!isMute" title="sound">
                        <mdb-icon fas icon="volume-up"></mdb-icon>
                    </button>
                    <button class="btn btn-default btn-circle" (click)="mute()" *ngIf="isMute" title="mute">
                       <mdb-icon fas icon="volume-mute"></mdb-icon>
                    </button>
// The below is to be deleted
                     <input class="ml-2 mt-3 slider light" type="range"
                    min="0"
                    max="1"
                    step="0.01"
                    #vol (input)="setVolume(vol.value)" [value]="volume">  
// till here
                </div>
            </div>
        </div>
    </div> -->
  

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
