
<footer class="bg-light text-danger mt-5 pt-2">
    <div class="container-fluid">
        <div class="row">
            <nav class="nav mr-auto">
                <a class="nav-link active text-dark" href="#">About us</a>
                <a class="nav-link text-dark" href="#">Terms of Use</a>
                <a class="nav-link text-dark" href="#">Feedback</a>
                <a class="nav-link text-dark" href="#">App</a>
            </nav>

            <nav class="nav ml-auto">
                <a class="nav-link active text-dark" target="_blank" href="https://twitter.com/?lang=en">Twitter</a>
                <a class="nav-link active text-dark" target="_blank" href="https://en-gb.facebook.com/?lang=en">Facebook</a>   
            </nav>
        </div>
        <div class="footer mt-3 text-center text-dark ml-auto mr-auto">
            <h4>copyright &copy; 2020 by Musix-App &trade; <span>All rigts reserved</span></h4> 
        </div>
    </div>
    
</footer>



