<footer>
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-3 col-md-3">
            <ul class="footer-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">App</a></li>
            </ul>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 text-center">
                 copyright &copy; 2020 by MusicApp. All rigts reserved.
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3 text-right">
                Follow us
                 <ul class="social-links ml-2">
                    <li><a>twitter</a></li>
                    <li><a>facebook</a></li>
                    <li><a>google-plus</a></li>
                    <!-- <li><a class="icons-sm fb-ic"><mdb-icon fab icon="facebook-f"></mdb-icon></a></li>
                    <li><a class="icons-sm tw-ic"><mdb-icon fab icon="twitter"></mdb-icon></a></li>
                    <li><a class="icons-sm gplus-ic"><mdb-icon fab icon="google-plus"></mdb-icon></a></li>
                    <li><a class="icons-sm ins-ic"><mdb-icon fab icon="instagram"></mdb-icon></a></li> -->
                </ul>
            </div>   
        </div>
    </div>
    
</footer>



