<div class="container-fluid mt-5">
    <div class="row">
      <div class="col col-lg-4 col-md-4 col-12">
        <!--Sidebar content-->
        <img 
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQpUjkLE_zNOL1DuAxwl7A4txpTRFdmBg9vAw&usqp=CAU" 
        alt="Artist" class="img-fluid rounded">
        <nav class="nav flex-column mt-15 pt-5">
            <button (click)="toggle('artist')" class="btn btn-light btn-sm mt-3 p-1"><h4>Artist</h4></button>
            <button (click)="toggle('album')" class="btn btn-light btn-sm mt-3 p-1"><h4>Album</h4></button>
            <button (click)="toggle('video')" class="btn btn-light btn-sm mt-3 p-1"><h4>Video</h4></button>
            <!-- <a class="nav-link active text-danger menuLinks"><h4>Album</h4></a> -->
          </nav>
      </div>

 
      <div class="col col-lg-8 col-md-8 col-12">
        <!--Body content-->
        <div *ngIf="tartist" name="artistContainer" class="jumbotron jumbotron-fluid bg-danger text-light">
            <div class="container">
              <h3 class="display-4">Armin van Buuren</h3>
              <p class="lead">
                    Van Buuren has won a number of accolades. 
                    He has been ranked the number one DJ by DJ Mag a 
                    record of five times, four years in a row.[5] 
                    He was ranked fourth on the DJ Mag Top 100 DJs list in 2015, 
                    2016, and 2019,[6] and third in 2017.[7] In 2014, 
                    he was nominated for a Grammy Award for Best Dance 
                    Recording for his single "This Is What It Feels Like"
                    featuring Trevor Guthrie,[8] which makes him the fourth 
                    trance artist ever to receive a Grammy Award nomination.[9] 
                    In the United States, he holds the record for most entries, 
                    twenty-one, on the Billboard Dance/Electronic Albums chart.[10] 

                </p>
                <small>source: wikipedia</small>
            </div>
          </div>


          <div *ngIf="tartist" class="playlist" >
            <nav class="nav flex-column">
              <button class="btn btn-dark text-danger">track1-song1---------------</button>
              <button class="btn btn-light text-danger">track2-song2------------------</button>
              <button class="btn btn-dark text-danger">track3-song3------------------</button>
            </nav>
          </div>
          
          
          <div *ngIf="talbum" name="albumContainer" class="card-group" >
            <div *ngFor="let album of albums" class="col col-lg-4 col-md-4 col-12 mt-3" >
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/ArminVanBuurenImagine2008AlbumArt.jpg/220px-ArminVanBuurenImagine2008AlbumArt.jpg" alt="album">
                    <div class="card-img-overlay">
                      <h5 class="card-title">{{album.title}}</h5>
                      <p class="card-text">{{album.description}}</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
              </div>
          </div>

          <div *ngIf="tvideo" name="videoContainer" class="youtubevideo" >
            <p> videos will be embeded here</p>
          </div>
          
      </div>
      <!-- end of row-fluid -->
    </div>
  </div>











